<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cascade Developer Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bower_components/uikit/css/uikit.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body>
<div class="container-fluid">
    {% include nav.html %}
