{% include header.html %}
<div class="row">
    <div class="hidden-sm col-md-1 "></div>
    <div class="col-xs-12 col-sm-9  col-md-8 col-lg-9">
        <article class="uk-article">
            <h1 class="uk-article-title">{{ page.title }}</h1>
            <p class="uk-article-meta">Written by {{ page.author }} on {{ page.date | date_to_long_string }}.</p>
            {{ content }}
        </article>
        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            // Required: on line below, replace text in quotes with your forum shortname
            var disqus_shortname = 'developers-energysensei';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-2 ">
        {% include links.html %}
    </div>
</div>
{% include footer.html %}
